// a {
//   color: $link-color;
//   @include transition(color 0.2s ease-out);
//   text-decoration: none;

//   &:hover {
//     color: $link-color-active;
//     @include transition(color 0.2s ease-in);
//   }
// }

blockquote {
  font-style: italic;
  color: lighten($base-font-color, 20%);
}

pre {
  background: lighten($light-gray, 10%);
  line-height: 1.2;
  margin: 2.2em auto;
  overflow-x: auto;
  white-space: pre;
  word-wrap: normal;

  code {
    border-radius: $base-border-radius;
    display: block;
    font-size: 0.727272em;

    // border-radius: 3px;
    // color: rgba(46,48,58,0.96);
    // font-size: 0.9rem;
    outline: none;
    overflow-x: auto;
    padding: 0.8rem 1.1rem;
    white-space: inherit;
  }
}

:not(pre)>code {
  background: lighten($light-gray, 10%);
  border: $base-border;
  border-radius: $base-border-radius;
  font-size: $base-font-size * 0.727272;
  padding: 2px;
  white-space: nowrap;
}

a {
  @include transition(color 0.2s ease);
  color: $base-link-color;
  text-decoration: none;

  &:hover {
    color: $hover-link-color;
  }

  &:active, &:focus {
    color: $hover-link-color;
    outline: none;
  }
}

hr {
  border-bottom: 1px solid $base-border-color;
  border-left: none;
  border-right: none;
  border-top: none;
  margin: $base-line-height 0;
}

img {
  margin: 0;
  max-width: 100%;
}

blockquote {
  border-left: 2px solid $base-border-color;
  color: lighten($base-font-color, 15);
  margin: $base-line-height 0;
  padding-left: $base-line-height / 2;
}

cite {
  color: lighten($base-font-color, 25);
  font-style: italic;

  &:before {
    content: '\2014 \00A0';
  }
}

.vcard {
  display: inline;
}

.container {
  @extend %outer-container;
}
