h1,
h2,
h3,
h4,
h5,
h6 {
  color: $header-font-color;
  font-family: $header-font-family;
  font-weight: 600;
  line-height: $header-line-height;
  margin-bottom: 0.45rem;
  margin-top: 0;
  text-rendering: optimizeLegibility;
}

h1 {
  font-size: 1.95314rem;
  margin-top: 0;
}

h2 {
  font-size: 1.5625rem;
  padding-top: rem(13.114);
}

h3 {
  font-size: 1.25rem;
}

h4 {
  font-size: 1rem;
  letter-spacing: 0.02rem;
  text-transform: uppercase;
}

h5 {
  font-size: 0.8rem;
}

h6 {
  font-size: 0.64rem;
}

// a {
//   color: $link-color;
//   @include transition(color 0.2s ease-out);
//   text-decoration: none;

//   &:hover {
//     color: $link-color-active;
//     @include transition(color 0.2s ease-in);
//   }
// }

blockquote {
  border-left: 2px solid $base-border-color;
  color: lighten($base-font-color, 15);
  font-style: italic;
  margin: $base-line-height 0;
  padding-left: $base-line-height / 2;
}

pre {
  background: lighten($light-gray, 10%);
  border: 1px solid lighten($base-border-color, 5%);
  border-radius: 3px;
  line-height: 1.2;
  margin: 2.2em auto;
  overflow-x: auto;
  white-space: pre;
  word-wrap: normal;

  code {
    border-radius: $base-border-radius;
    display: block;
    font-family: hack, monaco, courier, monospace;
    font-size: 0.727272em;

    outline: none;
    overflow-x: auto;
    padding: 0.8rem 1.1rem;
    white-space: inherit;
  }
}

:not(pre)>code {
  background: lighten($light-gray, 10%);
  border: $base-border;
  border-radius: $base-border-radius;
  font-size: $base-font-size * 0.727272;
  padding: 2px;
  white-space: nowrap;
}

a {
  @include transition(color 0.2s ease);
  color: $base-link-color;
  text-decoration: none;

  &:hover {
    color: $hover-link-color;
  }

  &:active,
  &:focus {
    color: $hover-link-color;
    outline: none;
  }
}

hr {
  border-bottom: 1px solid $base-border-color;
  border-left: none;
  border-right: none;
  border-top: none;
  margin: $base-line-height 0;
}

img {
  margin: 0;
  max-width: 100%;
}

cite {
  color: lighten($base-font-color, 25);
  font-style: italic;

  &::before {
    content: "\2014 \00A0";
  }
}

.vcard {
  display: inline;
}

main {
  @extend %outer-container;
  flex: 1;
}

.page-layout {
  section {
    @include span-columns(9 of 12);
  }

  header {
    margin-bottom: 1rem;
    margin-top: 3rem;
  }
}

p,
ol,
ul,
blockquote,
pre,
.discussion {
  margin: auto auto 1.5rem;
}

abbr,
acronym,
blockquote,
code,
dir,
kbd,
listing,
plaintext,
q,
tt,
var,
xmp {
  hyphens: none;
}

abbr {
  font-variant: small-caps;
  text-transform: lowercase;

  &[title]:hover {
    cursor: help;
  }
}
