.site-header {
  padding-bottom: 1em;
  padding-top: 1em;

  a {
    text-decoration: none;
  }
}

.navbar-brand {
  color: $base-font-color;
  display: block;
  font-family: $header-font-family;
  font-size: 28px;
  height: 0;
  visibility: hidden;

  @include media($large-screen-up) {
    @include span-columns(4);
    height: auto;
    visibility: inherit;
  }
}

.navbar-nav {
  font-family: $header-font-family;
  font-size: em(14);
  letter-spacing: 1px;
  margin: 0;
  padding: 0;
  text-align: center;
  text-transform: uppercase;

  @include media($large-screen-up) {
    @include span-columns(8);
    font-size: em(16);
    text-align: right;
  }

  li {
    display: inline;
    line-height: em(50);
    margin-left: em(16);
    padding: 0 0 0 em(16);

    &:first-child {
      margin-left: 0;
      padding-left: 0;
    }
  }

  ul {
    @extend %inline-list;
  }
}
