.site-header {
  padding-top: 1em;
  padding-bottom: 1em;

  a {
    text-decoration: none; 
  }
}

.navbar-brand {
  @include media($large-screen-up) {
    @include span-columns(4);
    visibility: inherit;
    height: auto;
  }

  color: $base-font-color;
  display: block;
  font-size: 28px;
  visibility: hidden;
  height: 0;
}

.navbar-nav {
  @include media($large-screen-up) {
    @include span-columns(8);
    font-size: em(16);
    text-align: right;
  }

  font-family: $header-font-family;
  font-size: em(14);
  letter-spacing: 1px;
  margin: 0;
  padding: 0;
  text-align: center;
  text-transform: uppercase;

  li {
    display: inline;
    padding: 0 0 0 em(16);
    line-height: em(50);
    margin-left: em(16);

    &:first-child {
      padding-left: 0;
      margin-left: 0;
    }
  }

  ul {
    @extend %inline-list;
  }
}
