.post-header {
  margin-top: 2em;
  margin-bottom: 4em;
  text-align: center;

  &.header-featured-image {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0 -10px 1.65em;
    min-height: 250px;
    padding-top: 2.5em;
    padding-bottom: 1em;

    @include media($large-screen-up) {
      background-size: 100%;
      margin-left: 0;
      margin-right: 0;
      min-height: 350px;
      padding-top: 4.5em;
      padding-bottom: 5em;
    }
  }

  p {
    color: #000;
    font-style: italic;
  }
}

@include media($large-screen-up) {
  .featured-image-full {
    display: block;
    height: 350px;
  }

  .featured-image-mobile {
    display: none;
  }
}

.featured-image-full {
  display: none;
}

.featured-image-mobile {
  display: block;
  height: 100%;
}

.entry-title {
  margin-right: auto;
  margin-left: auto;
  margin-top: 0;
  color: #000;
  margin-top: 0;
}

.entry-list {
  padding-left: 0;
  margin-top: 3em;
}

.entry-list, .entry-content, #respond, #disqus_thread {
  @include media($large-screen-up) {
    width: flex-grid(8, 12);
  }

  margin-left: auto;
  margin-right: auto;
}

.entry-content {
  figure {
    font-family: $header-font-family;
    font-size: 0.8rem;
    font-weight: 600;
    text-align: center;
    margin: 1.6rem 0;
  }
}
