.post-header {
  @include row;

  margin-bottom: 4em;
  margin-top: 2em;
  text-align: center;

  &.featured-image-container {
    margin-top: 0;
  }

  &.header-featured-image {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0 -10px 1.65em;
    min-height: 250px;
    padding-bottom: 1em;
    padding-top: 2.5em;

    @include media($large-screen-up) {
      background-size: 100%;
      margin-left: 0;
      margin-right: 0;
      min-height: 350px;
      padding-bottom: 5em;
      padding-top: 4.5em;
    }
  }

  p {
    color: $header-font-color;
    font-style: italic;
  }
}

.entry-title {
  color: $header-font-color;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0;
}

.entry-list {
  @extend %unstyled-list;

  margin-top: 3em;
  padding-left: 0;

  li {
    margin-bottom: 3em;
  }
}

.entry-list,
.entry-content,
.discussion {
  margin-left: auto;
  margin-right: auto;

  @include media($large-screen-up) {
    width: flex-grid(8, 12);
  }
}

.entry-content {
  figure {
    font-family: $header-font-family;
    font-size: 0.8rem;
    font-weight: 600;
    margin: 1.6rem 0;
    text-align: center;
  }
}

.discussion {
  margin-top: 7rem;
}
