@charset "utf-8";
$em-base: 22;

@import "variables";
@import "normalize/normalize";
@import "~bourbon/app/assets/stylesheets/bourbon";
@import "~bourbon-neat/app/assets/stylesheets/neat";
@import "base/base";

$link-color: #1076b9;
$link-color-active: $medium-gray;
$secondary-color: #aaa;

// @import "typeplate/vars-typeplate";
// @import "typeplate/typeplate";
@import "syntax";

@import "extends";
@import "base";
@import "header";
@import "post";
@import "pagination";

.post-list {
  @extend %unstyled-list;
}

.newsletter-signup {
  margin: 1.61em auto 3.22em;

  @include media($large-screen-up) {
    border: 1px solid $secondary-accent-color;
    width: flex-grid(10, 12);

    .newsletter-form {
      margin: 1.61em auto;
      width: flex-grid(8, 10);
    }
  }
}

.content {
  @include row;

  .sidebar {
    display: none;
  }

}

blockquote {
  p {
    &:last-child {
      margin-bottom: 0;
    }
  }
}

p img {
  display: block;
  margin: 0 auto;
  max-width: 100%;
}

.content-info {
  margin-top: 5em;

  p {
    font-family: $header-font-family;
    color: $secondary-color;
    font-size: 0.8em;
  }
}

// Webfonts!
.wf-loading {
  opacity: 0;
}

.wf-inactive,
.wf-active {
  opacity: 1;
  transition: opacity 0.3s;
}
