The <a title="BaconBiz 2013 Notes and Resources" href="/baconbiz-2013/">BaconBiz Notes and Resources Page</a> with links to all my notes for the talks can be found <a title="BaconBiz 2013 Notes and Resources" href="/baconbiz-2013/">here</a>.
