// ===================================================
// TYPEPLATE : Custom Sass Variables
// ===================================================


// $BaseType
// -------------------------------------//

$font-weight: 400;
$line-height: 1.65;
$font-size: 137.5; // percentage value (16 * 112.5% = 18px)
$font-base: 16 * ($font-size/100); // converts our percentage to a pixel value
$em-base: $font-base;
$font-family: serif; // Non-font-face font-stack
$serif-boolean: false;

$custom-font-family: 'kepler-std'; // Custom font-face stack, if set will be added to the $font-family


// $Paragraphs
// -------------------------------------//

// Text Indentation Value
$indent-val: 1.5em;

// Paragraph Styling Boolean
// 'false' means no vertical whitespace
// between subsequent paragraphs.
$paragraph-vertical-whitespace: true;


// $Small Print
// -------------------------------------//

$small-print-size: 65%;


// $Color
// -------------------------------------//

$body-copy-color: #444;
$heading-color: #222;


// $Ampersand
// -------------------------------------//

$amp-fontface-name: Ampersand;
$amp-fontface-source: local('Georgia'), local('Garamond'), local('Palatino'), local('Book Antiqua');
$amp-fontface-fallback: local('Georgia');

// Allows for our ampersand element to have differing
// font-family from the ampersand unicode font-family.
$amp-font-family: Verdana, sans-serif;


// $Icon-Font-Helper
// -------------------------------------//
// ex.1) $icon-fonts: (icon-name);
// ex.2) $icon-fonts: (icon-name1, icon-name2, icon-name3);
$icon-fonts: null;


// $TypeScale
// -------------------------------------//
$tera: 83.924; // 117 = 18 × 6.5
$giga: 67.139; // 90 = 18 × 5
$mega: 53.711; // 72 = 18 × 4
$alpha: 42.969; // 60 = 18 × 3.3333
$beta: 34.375; // 48 = 18 × 2.6667
$gamma: 27.5; // 36 = 18 × 2
$delta: 22; // 24 = 18 × 1.3333
$epsilon: 17.6; // 21 = 18 × 1.1667
$zeta: 14.08; // 18 = 18 × 1

// $tera: 44.602; // 117 = 18 × 6.5
// $giga: 39.646; // 90 = 18 × 5
// $mega: 35.241; // 72 = 18 × 4
// $alpha: 38.016; // 60 = 18 × 3.3333
// $beta: 31.68; // 48 = 18 × 2.6667
// $gamma: 26.4; // 36 = 18 × 2
// $delta: 22; // 24 = 18 × 1.3333
// $epsilon: 18.33; // 21 = 18 × 1.1667
// $zeta: 15.278; // 18 = 18 × 1


// $TypeScale-Unit
// -------------------------------------//

$type-scale-unit-value: rem;


// $Pull-Quotes
// -------------------------------------//

$pull-quote-fontsize: 4em;
$pull-quote-opacity: 0.5;
$pull-quote-color: #dc976e;


// $Citation
// -------------------------------------//

$cite-display: block;
$cite-text-align: right;
$cite-font-size: inherit;


// $SmallCaps
// -------------------------------------//

$small-caps-color: gray;
$small-caps-weight: 600;


// $DropCap
// -------------------------------------//

$dropcap-float-position: left;
$dropcap-font-size: 4em;
$dropcap-font-family: inherit;
$dropcap-txt-indent: 0;
$dropcap-margin: inherit;
$dropcap-padding: inherit;
$dropcap-color: inherit;
$dropcap-line-height: 1;
$dropcap-bg: transparent;
