@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  @apply leading-normal;
  font-size: 112.5%;
}

body {
  @apply text-gray-800 break-words;
  font-kerning: normal;
  font-feature-settings: "kern", "liga", "clig", "calt";
}

a,
a code {
  @apply underline;
  transition: color 100ms ease;

  text-decoration-color: #ff6f61;
}

a:hover,
a:hover code {
  /* @apply text-white shadow-inner; */
  color: #ff6f61;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  @apply text-gray-900 leading-tight;
  text-rendering: optimizeLegibility;
}

h2 {
  @apply mb-6 mt-12 font-black text-3xl;
}

h3 {
  @apply mb-3 mt-12 text-2xl font-bold;
}

h4 {
  @apply mb-6 leading-tight text-base font-black;
}

h5 {
  @apply mb-6 font-black text-sm font-black;
}

p {
  @apply mb-6;
}

code {
  @apply font-mono;
}

ul {
  @apply list-disc ml-6 mb-6;
}

li {
  @apply mb-3;
}

li :last-child {
  @apply mb-0;
}

pre {
  @apply mb-6 leading-tight bg-gray-100 border border-gray-300 rounded overflow-x-auto whitespace-pre break-normal;
}

:not(pre) > code {
  @apply bg-gray-100 border border-gray-300 rounded whitespace-no-wrap;
  padding: 2px;
}

pre code {
  @apply text-xs rounded block leading-snug outline-none overflow-x-auto p-2;
}

blockquote {
  @apply pl-6 border-l-2 border-indigo-700 italic;
}
