---
title: Natalie and Chris Nagele - How to Compete Against an 800lb Gorilla
date: 2013-06-11 11:22 UTC
---

<%= partial "partials/bbconf-2013" %>

Speakers: Natalie (<a href="https://twitter.com/natalienagele">@natalienagele</a>) &amp; Chris (<a href="https://twitter.com/cnagele">@cnagele</a>) - <a href="http://wildbit.com/">Wildbit</a>

 * Solve your own problem every day.
 * Understand that competition is a fundamental part of business. It’s good. Other people advertise your product space, yours will be exposed when comparison shopping.
 * Choose not to fight for #1 - Getting 5-10% of a huge market will relieve stress (and still provide you with a good income.)
 * Determine why people love your product. Build for them.
 * People will pay a premium for software that is specifically tailored to them/their needs.
 * Determine what makes your product better than ______?
 * Set a plan, let your confidence carry you and stay focused.<br>Put your head down and work towards your goal.
 * Customer feedback on a product will drive its direction.
