---
title: About me
layout: "page"
---

<section class="about-content">
  <header>
    <h1>About Me</h1>
  </header>
  <%= render_partial "partials/about-content" %>
</section>

<section class="speaking">
  <header>
    <h2>Speaking and Workshops</h2>
  </header>
  <%= render_partial "partials/about-speaking" %>

</section>

<%# <section class="testimonials"> %>
<%#   <header> %>
<%#     <h2>Testimonials</h2> %>
<%#   </header> %>
<%# </section> %>
