---
title: About
---

I'm Matthew Lehner. I build software and help amazing people bring their projects into existence.

I am available for project planning, front end development, and server side oback end architecting. If you need someone with CTO level experience in your corner to help with your web or mobile application, please <a href="http://matthewlehner.net/contact/" title="Contact Me">get in touch</a>.
I am currently booked solid for development projects until **November 17th, 2014**.

I'm currently in the process of writing <a href="http://www.freelancersfieldguide.com" title="The Freelancer's Field Guide">The Freelancer's Field Guide</a>, a step-by-step guide for building your own successful freelancing business.
